html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.header {
    width: 93.75vw;
    max-width: 1200px;
    height: 90px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

 .start-screen-gradient {
    width: 100%;
    min-height: 908px;
    background-image: url("img/noise_transparent.png"), radial-gradient(circle at left top, #5B483A, #262425 70%);
    background-size: 130px, cover;
    background-position: 0 0, center;
    background-repeat: repeat, no-repeat;
 }

.start-screen {
    min-height: 908px;
    max-width: 1280px;
    margin: 0 auto;
}

.logo-title {
    font-family: Georgia, Times, serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1.8px;
    color: #F1CDB3;
}

.logo-subtitle {
    font-family: Arial,  sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    padding-left: 3px;
    margin-top: 11px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-right: 35px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link, .nav-link-1 {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    position: relative;
}

.nav-link-1 {
    cursor: default;
}

.nav-link-1::after {
    content: '';
    position: absolute;
    width: 114px;
    height: 3px;
    display: block;
    left: 0;
    background: #F1CDB3;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    background: #F1CDB3;
    transition: width 0.3s ease, right 0.3s ease;
}

.nav-link:hover::after, .nav-link:focus::after, 
.nav-link:active::after {
    width: 100%;
    right: 0;
}

.header-burger-ico {
    width: 30px;
    height: 22px;
    position: relative;
    display: none;
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
    position: absolute;
    right: 0;
}

.burger-line:first-child {
    top: 0;
}

.burger-line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger-line:last-child {
    bottom: 0;
}

.start-screen-main {
    width: 93.75%;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.start-screen-picture {
    background-image: url(img/start-screen-puppy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 58%;
    height: 728px;
}

.start-screen-content {
    margin-top: -75px;
    height: 322px;
    width: 460px;
}

.start-screen-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
}

.start-screen-subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    margin-top: 42px;
}

.make-a-friend-button {
    display: inline-block;
    width: 207px;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0.75px;
    border-radius: 100px;
    background-color: #F1CDB3;
    color: #292929;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 42px;
}

.make-a-friend-button:hover {
    background-color: #FDDCC4;
    cursor: pointer;
}

.about-wrapper {
    min-height: 588px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about {
    min-height: 408px;
    width: 93.75%;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 20px;
}

.about-image {
    max-width: 300px;
    max-height: 408px;
}

.about-content {
    max-width: 430px;
    max-height: 380px;
}

.about-content-title {
    max-width: 370px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
    margin-bottom: 25px;
}

.about-content-subtitle {
    max-width: 430px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    margin-bottom: 25px;
}

.pets-wrapper {
    margin: 0 auto;
    height: 877px;
    background-color: #F6F6F6;
}

.pets {
    max-width: 1200px;
    height: 697px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MODAL WINDOW for Main page style STARTS HERE */

.modal-window-blackout {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    background-color:rgba(41, 41, 41, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.modal-close-button-area {
    width: 952px;
    height: 552px;
    background-color: rgba(0, 0, 0, 0.0);
    position: relative;
    margin-left: 52px;
}

.modal-close-button {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}

.modal-close-button:hover, .slider-button:focus, .modal-close-button:active {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
    cursor: pointer;
}

.modal-close-cross {
    width: 15px;
    height: 15px;
    position: relative;
}

.close-button-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #292929;
    position: absolute;
    top: 40%;
}

.close-button-line:first-child {
    transform: rotate(45deg);
}

.close-button-line:last-child {
    transform: rotate(-45deg);
}

.modal-window {
    width: 900px;
    height: 500px;
    background-color: #FAFAFA;
    position: absolute;
    left: 0; bottom: 0;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
}

.modal-image {
    width: 55.5555%;
    height: 100%;
    background-image: url(img/pets-jennifer.png);
    background-size: cover;
}

.modal-content {
    width: 39%;
    height: 72.4%;
    margin-top: 50px;
    margin-right: 20px;
    font-family: Georgia;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1px;
}

.modal-title {
    font-size: 35px;
    line-height: 45.5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.modal-subtitle {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
}

.modal-discription {
    font-size: 15px;
    line-height: 16.5px;
    margin-bottom: 40px;
}

.modal-list {
    font-size: 15px;
    line-height: 16.5px;
}

.modal-list-item {
    margin-bottom: 10px;
}

.modal-list-item b {
    font-weight: 600;
}

/* MODAL WINDOW for Main page style ENDS HERE */

.pets-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
    text-align: center;
    max-width: 400px;
    height: 90px;
    margin-bottom: 60px;
}

.pets-slider {
    width: 93.75vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-button {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-button:hover, .slider-button:focus {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
    cursor: pointer;
}

.slider-button:active {
    background-color: #F1CDB3;
    cursor: pointer;
}

.slider-button:disabled {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    background-color: #CDCDCD;
    cursor: not-allowed;
}

.button-arrow {
    font-weight: bold;
}

.slider-buttons-320 {
    display: none;
}

.slider-cards {
    width: 82.5%;
    height: 435px;
    display: flex;
    justify-content: space-between;
}

.slider-card-item {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.slider-card-item:hover, .slider-card-item:focus, .slider-card-item:active {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    cursor: pointer;
}

.slider-card-item:hover .learn-more-button, .slider-card-item:focus .learn-more-button,
.slider-card-item:active .learn-more-button {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
    cursor: pointer;
}

.pets-slider-card-title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 1px;
    color: #545454;
    text-align: center;
}

.learn-more-button {
    display: inline-block;
    width: 187px;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0.75px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #FAFAFA;
    color: #292929;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.get-to-know-button {
    display: inline-block;
    width: 261px;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0.75px;
    border-radius: 100px;
    background-color: #F1CDB3;
    color: #292929;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 60px;
}

.get-to-know-button:hover {
    background-color: #FDDCC4;
    cursor: pointer;
}

.help-wrapper {
    margin: 0 auto;
    min-height: 611px;
    background-color: #FFFFFF;
}

.help {
    max-width: 1200px;
    width: 93.75%;
    min-height: 431px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 1.9px;
    color: #545454;
    text-align: center;
    max-width: 308px;
    height: 90px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.help-list {
    width: 85.5%;
    min-height: 281px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 11.6959%;
    row-gap: 52px;
    justify-content: center;
    align-content: space-between;
}

.help-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.help-list-item-text {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.1px;
    color: #545454;
    text-align: center;
    margin-top: 30px;
}

.donation-wrapper {
    padding-top: 80px;
    margin: 0 auto;
    min-height: 462px;
    background-color: #F6F6F6;
}

.donation-content {
    margin: 0 auto;
    max-width: 915px;
    min-height: 282px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.donation-dog {
    margin-top: 11px;
    max-width: 505px;
    max-height: 261px;
}

.donation-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
    margin-bottom: 20px;
}

.donation-subtitle {
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.9px;
    color: #545454;
    margin-bottom: 20px;
}

.donation-button {
    display: flex;
    align-items: center;
    width: 349px;
    height: 43px;
    background-color: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    box-sizing: border-box;
    gap: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.donation-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.credit-card-number {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.15px;
    color: #545454;
}

.donation-small-text {
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer-gradient {
    min-height: 350px;
    background-image: url("img/noise_transparent.png"), radial-gradient(circle at left top, #5B483A, #262425 70%);
    background-size: 130px, cover;
    background-position: 0 0, center;
    background-repeat: repeat, no-repeat;
}

.footer-wrapper {
    min-height: 350px;
    padding-top: 40px; 
}

.footer-content {
    min-height: 310px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 160px;
}

.footer-contacts {
    margin-top: 16px;
    max-width: 278px;
}

.footer-locations {
    margin-top: 16px;
    max-width: 302px;
}

.footer-contacts-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-locations-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-email, .footer-phone,
.footer-locations-boston, .footer-locations-london {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
}

.footer-email:hover, .footer-phone:hover, 
.footer-locations-boston:hover, .footer-locations-london:hover {
    transform: scale(1.05);
}

.footer-email {
    margin-bottom: 40px;
}

.footer-locations-boston {
    margin-top: -7px;
    margin-bottom: 32px;
}

.footer-text {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.15px;
    color: #F1CDB3;
}


/* OUR PETS page style STARTS HERE */

.pets-header-container {
    margin: 0 auto;
    background-color: #FFFFFF;
}

.pets-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pets-logo {
    width: 184px;
    height: 60px;
}

.pets-logo-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.75px;
    color: #545454;
}

.pets-logo-subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.25px;
    color: #292929;
    margin-top: 10px;
    padding-top: 3px;
    padding-left: 5px;
}

.pets-nav-link, .pets-nav-link-2 {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
    position: relative;
}

.pets-nav-link-2 {
    cursor: default;
}

.pets-nav-link-2::after {
    content: '';
    position: absolute;
    width: 58px;
    height: 3px;
    display: block;
    left: 0;
    background: #F1CDB3;
}

.pets-nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    background: #F1CDB3;
    transition: width 0.3s ease, right 0.3s ease;
}

.pets-nav-link:hover::after, .pets-nav-link:focus::after, 
.pets-nav-link:active::after {
    width: 100%;
    right: 0;
}

.pets-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin-top: -5px;
    margin-left: -5px;
}

.pets-burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    right: 0;
}

.pets-burger-line:first-child {
    top: 0;
}

.pets-burger-line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.pets-burger-line:last-child {
    bottom: 0;
}

.pets-friends-container {
    margin: 0 auto;
    background-color: #F6F6F6;
    padding-bottom: 100px;
}

.pets-friends {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

.pets-friends-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
    text-align: center;
    height: 90px;
    margin-bottom: 45px;
}

.pets-slider-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    padding: 15px 0;
}

.pets-slider-card {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.pets-slider-card:hover, .pets-slider-card:focus, .pets-slider-card:active {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    cursor: pointer;
}

.pets-slider-card:hover .learn-more-button, .pets-slider-card:focus .learn-more-button,
.pets-slider-card:active .learn-more-button {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
    cursor: pointer;
}

.pets-slider-nav {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.nav-circle-left-1, .nav-circle-left-2 {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    background-color: transparent;
    cursor: not-allowed;
}

.nav-circle-right-1, .nav-circle-right-2 {
    border: 2px solid #F1CDB3;
    color: #292929;
    background-color: transparent;
}

.nav-number-circle {
    background-color: #F1CDB3;
    color: #292929;
    cursor: default;
}

.nav-circle-right-1:hover, .nav-circle-right-1:focus,
.nav-circle-right-2:hover, .nav-circle-right-2:focus {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
    color: #292929;
    cursor: pointer;
}

.nav-circle-right-1:active, .nav-circle-right-2:active {
    background-color: #F1CDB3;
    cursor: pointer;
}

/* Media requests style STARTS HERE */

@media (max-width: 1275px) {
    .help-wrapper {
        margin-bottom: 100px;
    }

    .pets-header {
        width: 92.1875vw;
    }
}

@media (max-width: 1220px) {

    .pets-slider-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .pets-slider-card:nth-child(7), .pets-slider-card:last-child {
        display: none;
    }
}

@media (max-width: 1200px) {
    .pets-friends {
        width: 93.75vw;
    }
}


@media (max-width: 1168px) {
    .start-screen-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .start-screen-content {
        margin-top: 0;
    }

    .start-screen-picture {
        height: 65vw;
    }
}

@media (max-width: 1038px) {
    .slider-card-item:last-child {
        display: none;
    }

    .slider-cards {
        justify-content: space-around;
    }
}

@media (max-width: 940px) {
.pets-slider-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
}

@media (max-width: 920px) {
    .donation-wrapper {
        padding-bottom: 100px;
    }
    
    .donation-content {
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items:center;
        gap: 50px;
    }

    .donation-text {
        width: 49.48vw;
        height: 36.72vw;
    }
}

@media (max-width: 906px) {
    .about {
        flex-direction: column-reverse;
        gap: 80px;
        margin-top: 80px;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    
    .header {
        width: 92.19vw;
    }

    .nav-list {
        margin-right: 3px;
        margin-bottom: 2px;
    }

    .start-screen-main {
        margin-top: 60px;
    }

    .start-screen-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .make-a-friend-button {
        align-self: center;
        letter-spacing: 1px;
    }

    .start-screen-picture {
        width: 74vw;
        height: 90.23vw;
        margin-right: -140px;
    }
    
    .slider-card-item:last-child {
        display: none;
    }

    .pets-slider {
        width: 92vw;
    }

    .slider-cards {
        gap: 35px;
    }

    .help {
        margin-top: 0;
        width: 100%;
    }

    .help-list {
        width: 83vw;
        gap:7.81vw;
        margin-bottom: 5px;
    }

    .help-list-item {
        width: 170px;
        height: 113px;
        margin-bottom: -5px;
    }

    .footer-wrapper {
        padding-top: 10px;
    }

    .footer-content {
        gap: 60px;
    }

    .footer-contacts, .footer-locations {
        margin-top: 20px;
    }

    .footer-puppy {
        margin-top: 2px;
    }

    .pets-friends-container {
        padding-bottom: 70px;
    }

    .pets-friends {
        padding-bottom: 5px;
    }

    .pets-friends-title {
        margin-bottom: 30px;
    }

    .pets-slider-container {
        width: 75.52vw;
        margin: 0 auto;
        padding: 0;
    }

    .pets-slider-nav {
        padding-top: 40px;
    }
}

@media (max-width: 767px) {
    
    .header-nav {
        display: none;
    }

    .pets-header-nav {
        display: none;
    }

    .header-burger-ico {
        display: block;
    }
}

@media (max-width: 764px) {
    
    .slider-card-item:nth-child(2) {
        display: none;
    }

    .pets-slider-container {
        justify-content: center;
    }
}

@media (max-width: 669px) {
    
    .donation-wrapper {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .donation-content {
        flex-wrap: nowrap;
        width: 93.75vw;
        height: 90vw;
    }

    .donation-text {
        width: 93.75vw;
}
    .donation-dog {
        height: auto;
        flex-shrink: 1;
    }
}

@media (max-width: 600px) {

    .start-screen-picture {
        align-self: flex-end;
        margin-right: 0;
    }

    .pets-slider-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .pets-slider-card:nth-child(4),  
    .pets-slider-card:nth-child(5), 
    .pets-slider-card:nth-child(6) {
        display: none;
    }
}

@media (max-width: 540px) {
    
    .start-screen-main {
        height: auto;
        justify-content: space-between;
    }
    
    .start-screen-content {
        width: 92.75vw;
    }

    .donation-wrapper {
       display: flex;
       flex-direction: column;
       height: auto;
       padding-bottom: 60px;
    }

    .donation-content {
        padding-top: 40px;
        gap: 100px;
    }

    .donation-dog {
        width: 81.25vw;
        height: auto;
        max-width: 505px;
    }
}

@media (max-width: 484px) {

    .start-screen-gradient {
        min-height: 500px;
    }

    .start-screen {
       min-height: 500px;
    }

    .donation-wrapper {
        height: 149.44vw;
        padding-bottom: 40px;
    }

    .donation-content {
        height: 140vw;
        padding-top: 0;
        justify-content: space-between;
        gap: 0;
    }

    .donation-text {
        height: 67.81vw;
        text-align: center;
    }
    
    .donation-dog {
        width: 81.25vw;
        height: auto;
        max-width: 505px;
    }
    
}

@media (max-width: 454px) {
    
    .help-wrapper {
        margin-bottom: 30px;
    }
    
    .help-list {
        width: 90.625vw;
        justify-content: space-between;
        gap: 30px;
    }
    
    .help-list-item {
        width: 40.625vw;
        height: 27.19vw;
        margin-bottom: 0;
    }
    
    .help-list-item img {
        width: 50px;
        height: 50px;
    }
    
    .help-list-item-text {
        font-size: 15px;
        line-height: 16.5px;
        margin-top: 20px;
    }
    
}


@media (max-width: 430px) {
.pets-friends-title {
    font-size: 7.81vw;
    line-height: 10.16vw;
    letter-spacing: 1.5px;
    text-align: center;
}

.donation-button {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 87.81vw;
    height: 13.44vw;
}

.credit-card-number {
    font-size: 4.69vw;
    letter-spacing: 0.75px;
}
}

@media (max-width: 360px) {

    .start-screen-title, .about-content-title, .pets-title, .help-title, .donation-title,
    .footer-contacts-title, .footer-locations-title {
        font-size: 7.81vw;
        line-height: 10.16vw;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .start-screen-main {
        height: 200vw;
    }

    .start-screen-content {
        align-items: center;
    }
    
    .about-content {
        max-height: 480px;
    }
    
    .pets-slider-nav {
        gap: 10px;
    }

    .donation-wrapper {
        height: 169.44vw;
    }

    .donation-content {
        height: 160vw;
    }
}


@media (max-width: 320px) {

.start-screen-gradient {
    min-height: 823px;
}

.start-screen {
    min-height: 823px;
}

.header {
    width: 87.5vw;
}

.start-screen-main {
    margin-bottom: 0;
    height: 210vw;
    justify-content: space-between;
}

.start-screen-content {
    height: 92.5vw;
    width: 93.75vw;
    align-items: center;
}

.start-screen-title {
    font-size: 7.81vw;
    line-height: 10.16vw;
    letter-spacing: 1.5px;
    text-align: center;
}

.start-screen-subtitle {
    text-align: center;
}

.start-screen-picture {
    width: 81.25vw;
    height: 84.93vw;
    align-self: flex-end;
    margin-right: 0;
}

.about-wrapper {
    margin-top: 0;
}

.about {
    gap: 42px;
    margin-top: 0;
    margin-bottom: 42px;
}

.about-content-title {
    font-size: 7.81vw;
    line-height: 10.16vw;
    letter-spacing: 1.5px;
    text-align: center;
}

.about-content-subtitle {
    text-align: justify;
    margin-bottom: 22px;
}

.about-content {
    margin: 42px 15px 0 15px;
    max-height: 154.38vw;
}

.about-image img {
    width: 81.25vw;
    max-height: 110.5vw;
}

.pets-wrapper {
    height: 247vw;
}

.pets {
    padding-top: 42px;
}

.pets-title {
    font-size: 7.81vw;
    line-height: 10.16vw;
    margin-bottom: 42px;
    letter-spacing: 1.5px;
}

.pets-slider {
    flex-direction: column;
    align-items: center;
}

.slider-cards {
    width: 84.375vw;
    gap: 0;
}

.slider-button {
    display: none;
}

.slider-buttons-320 {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.slider-button-320 {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-button-320:first-child {
    margin-left: 15px;
}

.slider-button-320:last-child {
    margin-right: 15px;
}

.get-to-know-button {
    margin-top: 42px;
}

.help-wrapper {
    height: 232.81vw;
    margin-bottom: 0;
}

.help-title {
    font-size: 7.81vw;
    line-height: 10.16vw;
    letter-spacing: 1.3px;
    margin-top: 42px;
    margin-bottom: 42px;
    width: 68.75vw;
    height: 64px;
}

.donation-wrapper {
    height: 169.44vw;
}

.donation-content {
    height: 143vw;
    padding-top: 0;
    justify-content: space-between;
    gap: 0;
}

.donation-text {
    height: 87.81vw;
    text-align: center;
}

.donation-title {
    font-size: 7.81vw;
    line-height: 10.16vw;
    letter-spacing: 1.5px;
}

.donation-subtitle {
    letter-spacing: 0.1px;
    line-height: 24px;
}

.donation-dog {
    width: 81.25vw;
    height: auto;
    max-width: 505px;
}

.donation-small-text {
    text-align: justify;
    padding: 0 10px;
}

.footer-content {
    gap: 40px;
}

.footer-contacts, .footer-locations {
    text-align: center;
}

.footer-locations {
    margin-top: 0;
}

.footer-email, .footer-phone {
    justify-content: center;
}

.footer-contacts-title, .footer-locations-title {
    width: 86vw;
    font-size: 7.81vw;
    line-height: 10.1563vw;
    letter-spacing: 1.5px;
}

.footer-locations-title {
    margin-left: 13px;
    margin-bottom: 45px;
}

.footer-locations-boston {
    margin-bottom: 40px;
}

.footer-locations-boston, .footer-locations-london {
    width: 300px;
    text-align: left;
}

.footer-puppy {
    width: 81.25vw;
    height: 84.06vw;
    margin-top: 0;
}

.pets-header {
    width: 87.5vw;
}

.pets-friends-container {
    padding-bottom: 40px;
}

.pets-friends {
    padding-top: 42px;
}

.pets-friends-title {
    margin-bottom: 16px;
}
}
