html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    max-width: 1200px;
    height: 90px;
    margin: 0 auto;
    padding-top: 30px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.start-screen-gradient {
    height: 908px;
    width: 1280px;
    background-image: url("img/start-screen-gradient-background.jpg");
}

.start-screen {
    height: 908px;
    width: 1280px;
    background-image: url("img/start-screen-background.jpg");
}

.logo-title {
    font-family: Georgia, Times, serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1.25px;
    color: #F1CDB3;
}

.logo-subtitle {
    font-family: Arial,  sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    margin-top: 10px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-right: 35px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link, .nav-link-1 {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #CDCDCD;
    position: relative;
}

.nav-link-1::after {
    content: '';
    position: absolute;
    width: 114px;
    height: 3px;
    display: block;
    left: 0;
    background: #F1CDB3;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    background: #F1CDB3;
    transition: width 0.3s ease, right 0.3s ease;
}

.nav-link:hover::after, .nav-link:focus::after, 
.nav-link:active::after {
    width: 100%;
    right: 0;
}

.start-screen-main {
    background-image: url(img/start-screen-puppy.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 728px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.start-screen-content {
    height: 322px;
    max-width: 460px;
}

.start-screen-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
}

.start-screen-subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    margin-top: 42px;
}

.make-a-friend-button {
    display: inline-block;
    width: 207px;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0.75px;
    border-radius: 100px;
    background-color: #F1CDB3;
    color: #292929;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 42px;
}

.about-wrapper {
    height: 588px;
    background-color: #FFFFFF;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about {
    height: 408px;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.about-image {
    max-width: 300px;
    max-height: 408px;
}

.about-content {
    max-width: 430px;
    max-height: 380px;
}

.about-content-title {
    max-width: 370px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
    margin-bottom: 25px;
}

.about-content-subtitle {
    max-width: 430px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    margin-bottom: 25px;
}

.pets-wrapper {
    max-width: 1280px;
    height: 877px;
    background-color: #F6F6F6;
}

.pets {
    max-width: 1200px;
    height: 697px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
    text-align: center;
    max-width: 400px;
    height: 90px;
    margin-bottom: 60px;
}

.pets-slider {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-button {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-arrow {
    font-weight: bold;
}

.slider-cards {
    height: 435px;
    display: flex;
    justify-content: center;
}

.slider-card-item {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 90px;
}

.slider-card-item:first-child {
    margin-left: 53px;
}

.slider-card-item:last-child {
    margin-right: 53px;
}

.pets-slider-card-title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 1px;
    color: #545454;
    text-align: center;
}

.get-to-know-button {
    display: inline-block;
    width: 261px;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0.75px;
    border-radius: 100px;
    background-color: #F1CDB3;
    color: #292929;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 60px;
}

.learn-more-button {
    display: inline-block;
    width: 187px;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0.75px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #FAFAFA;
    color: #292929;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.help-wrapper {
    max-width: 1280px;
    background-color: #FFFFFF;
}

.help {
    max-width: 1200px;
    height: 431px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 1.5px;
    color: #545454;
    text-align: center;
    max-width: 308px;
    height: 90px;
    margin-bottom: 60px;
}

.help-list {
    width: 1026px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.help-list-1 {
    display: inline-flex;
    justify-content: center;
    gap: 120px;
}

.help-list-2 {
    display: inline-flex;
    justify-content: center;
    gap: 120px;
}

.help-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.help-list-item-text {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #545454;
    text-align: center;
    margin-top: 30px;
}

.donation-wrapper {
    padding-top: 80px;
    max-width: 1280px;
    height: 462px;
    background-color: #F6F6F6;
}

.donation-content {
    margin: 0 auto;
    max-width: 915px;
    height: 282px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.donation-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 1px;
    color: #545454;
    margin-bottom: 20px;
}

.donation-subtitle {
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 1px;
    color: #545454;
    margin-bottom: 20px;
}

.donation-button {
    display: flex;
    align-items: center;
    width: 349px;
    height: 43px;
    background-color: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    box-sizing: border-box;
    gap: 10px;
    margin-bottom: 20px;
}

.credit-card-number {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #545454;
}

.donation-small-text {
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer-gradient {
    height: 350px;
    background-image: url("img/footer-gradient-background.png");
}

.footer-wrapper {
    height: 350px;
    padding-top: 40px;
    background-image: url("img/footer-background.png");
}

.footer-content {
    height: 310px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 160px;
}

.footer-contacts {
    margin-top: 16px;
    max-width: 278px;
}

.footer-locations {
    margin-top: 16px;
    max-width: 302px;
}

.footer-contacts-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-locations-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-email, .footer-phone,
.footer-locations-boston, .footer-locations-london {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-email, .footer-locations-boston {
    margin-bottom: 40px;
}

.footer-text {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #F1CDB3;
}


/* OUR PETS page style STARTS HERE */

.pets-header-container {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.pets-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pets-logo {
    width: 184px;
    height: 60px;
}

.pets-logo-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.25px;
    color: #545454;
}

.pets-logo-subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 1.25px;
    color: #292929;
    margin-top: 10px;
}

.pets-nav-link, .pets-nav-link-2 {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #545454;
    position: relative;
}

.pets-nav-link-2::after {
    content: '';
    position: absolute;
    width: 58px;
    height: 3px;
    display: block;
    left: 0;
    background: #F1CDB3;
}

.pets-nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    background: #F1CDB3;
    transition: width 0.3s ease, right 0.3s ease;
}

.pets-nav-link:hover::after, .pets-nav-link:focus::after, 
.pets-nav-link:active::after {
    width: 100%;
    right: 0;
}

.pets-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.pets-friends-container {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F6F6F6;
    padding-bottom: 100px;
}

.pets-friends {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

.pets-friends-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: #545454;
    text-align: center;
    height: 90px;
    margin-bottom: 45px;
}

.pets-slider-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 45px;
    grid-column-gap: 40px;
    padding: 15px 0;
}

.pets-slider-card {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets-slider-nav {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-circle-left-1, .nav-circle-left-2, .nav-number-circle, 
.nav-circle-right-1, .nav-circle-right-2 {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}

.nav-circle-left-1, .nav-circle-left-2, 
.nav-circle-right-1, .nav-circle-right-2 {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    background-color: transparent;
}

.nav-number-circle {
    background-color: #F1CDB3;
    color: #292929;
}

.pets-footer {
    max-width: 1280px;
    margin: 0 auto;
}